[Unit]
Description=Awww notification daemon
After=graphical-session.target
PartOf=hyprland-session.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
ExecStart=/usr/bin/awww-daemon --quiet
Restart=always
RestartSec=3
