[Unit]
Description=Awww notification daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/awww-daemon --quiet
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
