[Unit]
Description=Hypridle idle daemon
After=graphical-session.target
PartOf=hyprland-session.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
ExecStart=/usr/bin/hypridle
Restart=always
RestartSec=3
