[Unit]
Description=KDE Polkit authentication agent
After=graphical-session.target

[Service]
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
StartLimitBurst=5
StartLimitIntervalSec=30
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
