[Unit]
Description=Unit-3 Control Center
After=graphical-session.target quickshell.service
PartOf=hyprland-session.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
ExecStart=/usr/bin/qs -p %h/.config/quickshell/widgets/ControlCenter.qml
Restart=always
RestartSec=3
