[Unit]
Description=Quickshell desktop shell
After=graphical-session.target
PartOf=hyprland-session.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
Environment=QT_MEDIA_BACKEND=ffmpeg
ExecStart=/usr/bin/qs
Restart=always
RestartSec=3
