[Unit]
Description=Quickshell NieR bar
After=graphical-session.target
After=quickshell.service

[Service]
ExecStart=/usr/bin/qs -p %h/.config/quickshell-bar/shell.qml
StartLimitBurst=5
StartLimitIntervalSec=30
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
