[Unit]
Description=Unit-3 Control Center
After=quickshell.service

[Service]
ExecStart=/usr/bin/qs -p %h/.config/quickshell/widgets/ControlCenter.qml
Restart=always
RestartSec=3
StartLimitBurst=5
StartLimitIntervalSec=30

[Install]
WantedBy=default.target
