[Unit]
Description=Udiskie removable media daemon
After=graphical-session.target
PartOf=hyprland-session.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
ExecStart=/usr/bin/udiskie
Restart=always
RestartSec=3
