[Unit]
Description=Udiskie removable media daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie
StartLimitBurst=5
StartLimitIntervalSec=30
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
